<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dot.tour_info_service_server.mapper.MemberMapper">
<!--    유저 정보  map-->
    <resultMap id="MemberResultMap" type="com.dot.tour_info_service_server.entity.Member">
        <id property="mno" column="mno"/>
        <result property="birth" column="birth"/>
        <result property="disciplinary"  column="disciplinary"/>
        <result property="fromSocial" column="from_social"/>
        <result property="isApprove" column="is_approve"/>
        <result property="isReset" column="is_reset"/>
        <result property="isValidate" column="is_validate" />
        <result property="businessId" column="business_id"/>
        <result property="email" column="email"/>
        <result property="image" column="image"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <collection property="roleSet" javaType="java.util.Set" resultMap="MemberRoleMap"/>
    </resultMap>
    <resultMap id="MemberRoleMap" type="com.dot.tour_info_service_server.entity.Role">
<!--        <id property="memberMno" column="member_mno"/>-->
        <result property="roleSet" column="role_set"/>
    </resultMap>
<!--    로그인-->
    <select id="getLogin" parameterType="java.lang.String" resultMap="MemberResultMap">
        select
            m.mno,
            m.disciplinary,
            m.from_social,
            m.is_approve,
            m.is_reset,
            m.is_validate,
            m.business_id,
            m.email,
            m.image,
            m.name,
            m.password,
            m.phone,
            mr.role_set
        from
            member m
            left outer join member_role_set mr on(m.mno=mr.member_mno)
        where
            email=#{email};
    </select>

<!--    이메일 중복 확인-->
    <select id="existEmail" resultType="java.lang.Integer">
        select count(email)
        from member
        where email=#{email};
    </select>

<!--    회원가입-->
    <insert id="signUp" useGeneratedKeys="true" keyProperty="mno">
        insert into member (
            email,
            password,
            birth,
            phone,
            name,
            business_id,
            is_approve
        )
        values(
        #{email},
        #{password},
        #{birth},
        #{phone},
        #{name},
        #{businessId},
        false
        );
    </insert>
<!--    역할 등록-->
    <insert id="roleSet">
        insert into member_role_set(member_mno,role_set)
        values(
        #{mno},
        #{role}
        );
    </insert>

<!--    이메일로 유저 검색(Oauth2 로그인 O or X-->
    <select id="findMemberFromEmail" >
        select
            m.mno,
            m.disciplinary,
            m.from_social,
            m.is_approve,
            m.is_reset,
            m.is_validate,
            m.business_id,
            m.email,
            m.image,
            m.name,
            m.password,
            m.phone
        from
            member m
        where
            email=#{email} and from_social=#{social}
    </select>

<!--    유저 이름, 전화번호로 유저 검색-->
    <select id="searchUserFromNameAndPhone" >
        select
            m.mno,
            m.disciplinary,
            m.from_social,
            m.is_approve,
            m.is_reset,
            m.is_validate,
            m.business_id,
            m.email,
            m.image,
            m.name,
            m.phone
        from
            member m
        where
            name=#{name} and phone=#{phone}
    </select>

<!--    회원 검색(name,mno)-->
<!--    <select id="searchMember" resultMap="MemberResultMap">-->
<!--        select -->
<!--            *-->
<!--        from -->
<!--            member-->
<!--        where -->
<!--            -->
<!--    </select>    -->


<!--    FollowMapper에 있어야할 것 같음-->
<!--&lt;!&ndash;    팔로워 수 조회&ndash;&gt;-->
<!--    <select id="searchFollowers">-->
<!--        select count(-->
<!--    </select>-->


<!--&lt;!&ndash;    팔로잉 수 조회&ndash;&gt;-->
<!---->

<!--mno로 유저 정보 조회-->
    <select id="getUserProfiles" parameterType="java.lang.Long" >
        select
            m.mno,
            m.disciplinary,
            m.from_social,
            m.is_approve,
            m.is_reset,
            m.is_validate,
            m.business_id,
            m.email,
            m.image,
            m.name,
            m.phone

        from
            member m
        where
            mno=#{mno}
    </select>

<!--    회원가입 대기 조회-->
    <select id="signupWaits">
        select
            m.mno,
            m.disciplinary,
            m.from_social,
            m.is_approve,
            m.is_reset,
            m.is_validate,
            m.business_id,
            m.email,
            m.image,
            m.name,
            m.phone
        from
            member m
        where
            is_approve=false
    </select>

<!--    회원가입 승인-->
    <update id="agreeSign">
        update
            member
        set
            is_approve=true
        where
            mno=#{mno}
    </update>

<!--    CartMapper로 가야함-->
<!--    찜목록 수 조회-->


<!--    회원 조회(관리자)-->
    <select id="memberSearchForAdmin" >
        select
            m.mno,
            m.disciplinary,
            m.from_social,
            m.is_approve,
            m.is_reset,
            m.is_validate,
            m.business_id,
            m.email,
            m.image,
            m.name,
            m.phone,
            mr.role_set
        from
            member m left outer join member_role_set mr on (m.mno=mr.member_mno)
        <where>
            m.name like concat('%',#{name},'%')
            <if test="filter != ''">
                and mr.role_set=#{filter}
            </if>
        </where>
    </select>

<!--    비밀번호 변경-->
    <update id="changePassword">
        update
            member
        set
            password=#{password}
        <choose>
            <when test="isReset==true">
                ,is_reset=true
            </when>
            <otherwise>
                ,is_reset=false
            </otherwise>
        </choose>
        where
            mno=#{mno}
    </update>

<!--    인증 완료-->
    <update id="emailValidate">
        update
            member
        set
            is_validate=true
        where
            email=#{email}
    </update>
</mapper>
